// Zellij
// https://zellij.dev

// Appearance ------------------------------------------------------------------

theme "catppuccin-latte"
theme_dir "/Users/taupiqueur/.local/share/github.com/zellij-org/zellij/example/themes"
