// Zellij
// https://zellij.dev

// Appearance ------------------------------------------------------------------

theme "catppuccin-latte"

// Key bindings ----------------------------------------------------------------

keybinds clear-defaults=true {
  normal {
    // tmux-like prefix key
    bind "Ctrl v" { SwitchToMode "Pane"; }

    // Focus panes
    bind "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt Up" { MoveFocus "Up"; }
    bind "Alt Down" { MoveFocus "Down"; }

    bind "Alt [" { SwitchFocus; }
    bind "Alt ]" { SwitchFocus; }

    // Switch tabs
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
    bind "Alt 0" { NewTab; }
    bind "Alt -" { NewPane; }
    bind "Alt =" { NextSwapLayout; }

  }

  pane {
    // Basics
    // Return to normal mode.
    bind "i" "Esc" "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }

    // Exit Zellij
    bind "q" { Detach; }
    bind "Ctrl q" { Quit; }

    // Create windows
    bind "c" { NewTab; SwitchToMode "Normal"; }

    // Split panes
    bind "o" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "O" { NewPane "Right"; SwitchToMode "Normal"; }

    // Focus panes
    bind "h" { MoveFocusOrTab "Left"; }
    bind "l" { MoveFocusOrTab "Right"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }

    // Move panes
    bind "H" { MovePane "Left"; }
    bind "L" { MovePane "Right"; }
    bind "K" { MovePane "Up"; }
    bind "J" { MovePane "Down"; }

    // Resize panes
    bind "Ctrl h" "Backspace" { Resize "Decrease Right"; }
    bind "Ctrl l" { Resize "Increase Right"; }
    bind "Ctrl k" { Resize "Decrease Down"; }
    bind "Ctrl j" "Enter" { Resize "Increase Down"; }

    // Switch tabs
    bind "1" { GoToTab 1; }
    bind "2" { GoToTab 2; }
    bind "3" { GoToTab 3; }
    bind "4" { GoToTab 4; }
    bind "5" { GoToTab 5; }
    bind "6" { GoToTab 6; }
    bind "7" { GoToTab 7; }
    bind "8" { GoToTab 8; }
    bind "9" { GoToTab 9; }
    bind "0" { NewTab; }

    // Switch windows
    bind "p" { GoToPreviousTab; }
    bind "n" { GoToNextTab; }

    // Switch windows
    bind "p" { GoToPreviousTab; }
    bind "n" { GoToNextTab; }

    // Close tabs
    bind "x" { CloseFocus; }
    bind "X" { CloseTab; }

    // Layouts
    // Change layout style.
    bind "[" { PreviousSwapLayout; }
    bind "]" { NextSwapLayout; }

    // Toggle full-screen mode.
    bind "f" { ToggleFocusFullscreen; }

    // Toggle floating mode.
    bind "e" { TogglePaneEmbedOrFloating; }

    // Swap focus between tiling and floating areas.
    bind "w" { ToggleFloatingPanes; }

    // Search
    bind "/" "Ctrl f" { SwitchToMode "EnterSearch"; SearchInput 0; }

    // Scroll
    bind "Ctrl e" { EditScrollback; SwitchToMode "Normal"; }
    bind "d" "Down" { ScrollDown; }
    bind "u" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" { PageScrollDown; }
    bind "Ctrl b" "PageUp" { PageScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "g" "Home" { ScrollToTop; }
    bind "G" "End" { ScrollToBottom; }
  }

  entersearch {
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "Esc" { SwitchToMode "Pane"; }
    bind "Enter" "Ctrl n" { Search "down"; }
    bind "Ctrl p" { Search "up"; }
    bind "Alt c" { SearchToggleOption "CaseSensitivity"; }
    bind "Alt w" { SearchToggleOption "Wrap"; }
    bind "Alt o" { SearchToggleOption "WholeWord"; }
  }
}
