home/ssh/id_rsa
home/ssh/known_hosts
home/icons
home/thelounge/certificates
home/thelounge/logs
home/thelounge/packages
home/thelounge/users
home/thelounge/vapid.json
config/kak/autoload/plugins
config/broot/launcher
config/passwords.yml
config/mpv/socket
config/mpv/watch_later
config/cachix/cachix.dhall
local/share/icons/candy-icons
