home/ssh/id_rsa
home/ssh/id_rsa_*
home/ssh/known_hosts
home/icons
config/mpv/socket
config/mpv/watch_later
config/cachix/cachix.dhall
local/share/icons/candy-icons
local/share/konsole
local/share/applications
local/share/icons
