home/bash_history
home/mcfly
local/share/zoxide
config/env
home/ssh/id_ed25519
home/ssh/id_ed25519_*
home/ssh/known_hosts
home/icons
config/gh
config/iterm2
config/mpv/socket
config/mpv/watch_later
config/cachix/cachix.dhall
local/bin/gitui
local/bin/batch
local/bin/chronic
local/bin/pw
local/bin/scr
local/share/icons/candy-icons
local/share/konsole
local/share/applications
local/share/icons
local/share/fonts
local/state
config/karabiner
local/share/karabiner
