# GNU Readline
# https://gnu.org/software/readline/
# https://gnu.org/software/bash/manual/bash.html#Readline-Init-File
# https://gnu.org/software/bash/manual/bash.html#Bindable-Readline-Commands

set colored-stats on
set colored-completion-prefix on
set bind-tty-special-chars off

C-w: backward-kill-word
C-p: history-substring-search-backward
C-n: history-substring-search-forward
C-o: edit-and-execute-command
