@define-color black #202020;
@define-color white #eaeaea;

window#waybar {
  background-color: @white;
  color: @black;
}

#workspaces button {
  padding: 0;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: @black;
  color: @white;
}

#custom-launcher, #custom-file-manager, #custom-media-player, #custom-browser, #custom-terminal, #custom-screenshot {
  margin: 0 8px;
}

#mode, #clock, #battery, #backlight, #pulseaudio, #disk {
  margin: 0 4px;
}
